<% title "Sign up" %>

<!-- <p>Already have an account? <%= link_to "Log in", login_path %>.</p> -->
<p>If you already have an <%=APP_CONFIG['site_title']%> account, please <%= link_to "Log in", login_path %>.</p>

<%= render 'form' %>
