<strong>Hi, <%= @user.username %></strong>,
<p></p>
<strong>Thank you for registering!</strong>
<p></p>
<a href="http://<%=APP_CONFIG['http_host']%>/settings" target="_blank">Please update your profile.</a>
